{% extends 'registration/base.html' %}

{% block content %}
<div class='container'>
<div class='text-center'>
    <h2>Un email vous a été envoyé<br/><br/></h2>
    <div>
        <p>Pour commencer le processus de réinitialisation de votre compte OC-Pizza à partir du lien qui vous a été envoyé.</p>
        <p>Si le lien ne fonctionne pas, utilisez l'URL envoyee dans votre console.</p>
        <p>Pour vous connecter cliquez ici :</p>
        <p><a href="{% url 'account:connexion' %}">Me connecter</a>.</p>

        <p><br/>Cordialement</p>


        <p><br/>L'équipe OCC-Pizza</p>
    </div>
</div>
</div>
{% endblock %}