{% extends 'account/base.html' %}


{% block S1A1 %}<section class="flex-column col-lg-12 text-center" id="accountBox">
    <h1 class="bg-moufri">Suppression de compte</h1>
    <article class="container col-lg-12 bg-roichoco">
        
        <h2><br/><br/>Attention, '{{ user.username }}'', vous allez supprimer définitivement votre compte!</h2>
        <p><br/><br/>Etes vous sûre de vouloir continuer?</p>
        <div class="row d-flex justify-content-center">
            <button class="btn-danger"><a style="color:black" href="{% url 'account:delete_user' %}">
                    Supprimer mon compte</a></button>
            <button class="btn bg-bonrig"><a style="color:black" href="{% url 'account:myaccount' %}">
                Retourner sur Mon compte</a></button>
        </div>
    
    </article>
</section>{% endblock %}